.container {
    padding-inline: $unit;
}

.container--block {
    padding-block: 50px;

    @include yo(
        "padding-block",
        (
            $mob: 50px,
            $desktop-md: 100px
        )
    );
}

:root {
    --unit: 70px;
    @media (max-width: $desktop-sm) {
        --unit: 40px;
    }

    @media (max-width: $tab) {
        --unit: 16px;
    }
}
